<h1 class="text-center">Login</h1>

  <div class="card text-center" style="width: 36rem;">
    <div class="card-body">
      <%= render partial: 'form' %>
      </br>
      <%= button_to "Log in with Google", '/auth/google_oauth2'  %>
    </div>
  </div>
  