<h1 class="text-center">Signup</h1>

<%= render partial: 'layouts/error', locals: {object: @user} %>

<div class="card text-center" style="width: 36rem;">
  <div class="card-body">
    <%= render partial: 'signup_form' %>
  </div>
</div>

<%= button_to "Log in with Google", '/auth/google_oauth2'  %>